RewriteEngine On

# Règle pour la page profile
RewriteRule ^profile/?$ entities/profile.php [NC,L]
RewriteRule ^profile/(\d+)$ entities/profile.php?id=$1 [NC,L]

# Règle pour la page avatar
RewriteRule ^avatar/?$ avatar.php [NC,L]
RewriteRule ^avatar/(\d+)$ avatar.php?id=$1 [NC,L]

# Règle pour la page cv
RewriteRule ^cv/?$ cv.php [NC,L]
RewriteRule ^cv/(\d+)$ cv.php?id=$1 [NC,L]

# Règle pour la page competences
RewriteRule ^competences/?$ competences.php [NC,L]
RewriteRule ^competences/(\d+)$ competences.php?id=$1 [NC,L]

# Règle pour la page articles_profile
RewriteRule ^articles_profile/?$ articles_profile.php [NC,L]
RewriteRule ^articles_profile/(\d+)$ articles_profile.php?id=$1 [NC,L]

# Règle pour la page categories
RewriteRule ^categories/?$ categories.php [NC,L]
RewriteRule ^categories/(\d+)$ categories.php?id=$1 [NC,L]