RewriteEngine On

# Règle pour la page profile
RewriteRule ^profile/?$ entities/profile.php [NC,L]
RewriteRule ^profile/(\d+)$ entities/profile.php?id=$1 [NC,L]

# Règle pour la page avatar
RewriteRule ^avatar/?$ entities/avatar.php [NC,L]
RewriteRule ^avatar/(\d+)$ entities/avatar.php?id=$1 [NC,L]

# Règle pour la page cv
RewriteRule ^cv/?$ entities/cv.php [NC,L]
RewriteRule ^cv/(\d+)$ entities/cv.php?id=$1 [NC,L]

# Règle pour la page competences
RewriteRule ^competences/?$ entities/competences.php [NC,L]
RewriteRule ^competences/(\d+)$ entities/competences.php?id=$1 [NC,L]

# Règle pour la page articles_profile
RewriteRule ^articles_profile/?$ entities/articles_profile.php [NC,L]
RewriteRule ^articles_profile/(\d+)$ entities/articles_profile.php?id=$1 [NC,L]

# Règle pour la page categories
RewriteRule ^categories/?$ entities/categories.php [NC,L]
RewriteRule ^categories/(\d+)$ entities/categories.php?id=$1 [NC,L]